/*****Setting*****/
/*setting 2 fonts*/
@font-face 
  {
    font-family: "inter";
    src: url(../Font/Inter/Inter-Bold.ttf);
  }

  @font-face {
    font-family: "merriweather";
    src: url(../Font/Merriweather/Merriweather-Light.ttf);
  }
/*setting colors*/
  $color1:rgb(254, 253, 253); //white
  $color2:rgb(15, 15, 15); //Black
  $color3:rgba(15, 15, 15, 0.5); //black opaque
  $color4:rgb(230, 222, 222); //light grey
  $color5:rgb(158, 158, 158); //grey
  $font1: "inter", sans-serif;//inter
  $font2: "merriweather", sans-serif;//inter
/*setting page*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    margin-block: 0;
    outline: none;
  }
  html {
    scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
    box-shadow: none;
  }
/*setting body*/  
  body {
    min-height: 100vh;
    font-family: $font1;
    font-size: 13px;
    background: url(../images/bg.jpg) fixed center/cover;
    color: $color2;
    text-align: center;
    }
/*setting all buttons*/  
    button {
      background: none; 
      color: rgba(0, 0, 0, 0.9); 
      outline: none; 
      border: 2px solid rgb(44, 44, 44);
      width: 160px; 
      height: 40px; 
      text-transform: uppercase; 
      font-weight: 600;
      font-size: 0.7rem; 
      letter-spacing: 1px; 
      transition: 0.4s ease; 
      cursor: pointer; 
/*button hover, ease 0,4s*/      
     &:hover {
      color: whitesmoke;
      background: rgba(0, 0, 0, 0.7);
    }}
    
/*to use flex to center elements*/      
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
