/*set footer size, grid + go down 30px in Y */
footer {
  background: $color1;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 72%;
  height: 100%;
  margin: 0 auto 70px;
  transform: translateY(30px);

/*set media querie for be same size tahn nav and section */
@media screen and (max-width: 550px) {
  width: 85%;
  margin: auto;
}

/*set media querie in diplay block */
@media screen and (max-width: 705px) {
    display: block;
  }

  /*set middle border*/
  .contact-left {
    border-right: 1px solid rgba(158, 158, 158, 0.4);

    /*flex for align at left*/
    form {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
    /*padding*/
    #name {
      padding: 40px 0 0 0;
    }

    /*margin for form and set text*/
    #name,
    #email1,
    #message {
      text-transform: uppercase;
      margin: 0 7.5% 0 7.5%;
    }
    /*set input size and margin*/
    input {
      width: 85%;
      height: 50px;
      margin: 20px auto;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
  }
  /*set textarea size and margin*/
  textarea {
    width: 85%;
    height: 150px;
    margin: 20px auto;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
  }
  /*set button margin*/
  button {
    margin: 30px 7.5% 50px 7.5%;
  }
  /*set left grid*/
  .contact-right {
    display: grid;
    grid-auto-rows: 25% 25% 25% 25%;
  }
  /*3 grid for contact*/
  .grid1, 
  .grid2, 
  .grid3 {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: start;
    align-items: center;
    border-bottom: 1px solid rgba(158, 158, 158, 0.4);

    h3 {
      text-transform: uppercase;
      font-size: 13px;
      margin: 20%;
    }

    p {
    text-align: left;
    color: $color5;
    font-size: 0.75rem;
    font-family: $font2;
  }
}
 /*1 grid for social and hover in socila*/
.grid4 ul {
  display: grid;
  grid-template-columns: 30% 10% 10% 10% 10% 30%;
  justify-items: start;
  align-items: center;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 550px) {
  grid-template-columns: 30% 12.5% 12.5% 12.5% 12.5% 20%;
  }


  h3 {
    text-transform: uppercase;
    font-size: 13px;
    margin: 20%;
  }

  li {
    border: 1px solid rgba(158, 158, 158, 0.4); 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-top: 6px;

    a {
      color: $color2;

      &:hover {
        color: $color5;
    }
  }
}
}
}
