.header-center {
  height: 818px;

  @include center;

  flex-direction: column;

  h1 {
    font-size: 6.2em;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $color1;

    @media screen and (max-width: 650px) {
      font-size: 3rem;
    }
  }

  p {
    margin: 68px auto 75px auto;
    font-size: 1.6em;
    font-style: italic;
    color: $color1;
    font-family: $font2;
  }
  .cercle {
    width: 75px;
    height: 75px;
    border: 2px solid $color1;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
  }
    .cercle:hover {
      color: $color2;
      border: 2px solid $color2;
    }

    i {
      color: $color1;
      position: absolute;
      top: 35px;
      left: 25px;


      &:hover {
        color: $color2;
        transition: 0.4s;
      }
    }
  }

