.container {
  background: $color1;
  width: 72%;
  height: 2417px;
  margin: auto;
  position: relative;

  @media screen and (max-width: 550px) {
    width: 85%;
  }

  .container-top {
    padding: 70px 0 60px 0;
    
    p {
    font-family: $font2;
    font-size: 1.2em;}

    &::before {
      content: "";
      width: 30%;
      height: 2px;
      background: $color4;
      position: absolute;
      transform: translatex(45%);
    }

    &:after {
      content: "";
      width: 30%;
      height: 2px;
      background: $color4;
      position: absolute;
      top: 72px;
      transform: translatex(-145%);
    }
  }

  .container-center {
    h2 {
      font-size: 4em;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin: 0 20%;

    @media screen and (max-width: 750px) {
        font-size: 2.5em;
        margin: 0 15%;
    }
  }
  
    p {
      font-size: 1em;
      font-style: italic;
      line-height: 30px;
      font-family: $font2;
      margin: 30px 20% 50px 20%;

      @media screen and (max-width: 550px) {
        font-size: 1em;
        margin: 30px 30% 50px 30%;
    }
  }

   .img1 {
    background-image: url(../../images/pic01.jpg);
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 600px;
    margin: 0 10%;

    @media screen and (max-width: 850px) {
      height: 400px;}

    @media screen and (max-width: 600px) {
        height: 220px;
    }
   }

   button {
    margin: 50px 0 80px 0;
   }
  }

  .container-bottom {
    display: grid;
    grid-template-columns: 50% 50%;


  }
}

